.app.dark {
    --bg-color: #284862;
    --inverted-bg-color: #f1f1f1;
    --primary-color: #000915;
    --secondary-color: #037fff;
    --inverted-primary-color: #313131;
    --inverted-secondary-color: #013e7c;
}
