:root {
    --bg-color: #f1f1f1;
    --inverted-bg-color: #10121b;
    --primary-color: #313131;
    --secondary-color: #037fff;
    --inverted-primary-color: #f4f5f8;
    --inverted-secondary-color: #037fff;
}
